<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>The CodeCollab session is over!</h3>
</div>
<div class="modal-body">
    Unfortunately the session starter has left the session. Therefore the session is over. If you enjoyed the CodeCollab
    experience, feel free to start a new session. And don't forget to spread the word!
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="hide()">Close</button>
</div>
