<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Roadmap</h3>
</div>
<div class="modal-body">
    We plan to add the following features in the future:

    <ul>
        <li>Code annotations / comments</li>
        <li>Support for more programming languages (Any preferences?)</li>
        <li>Download of session content</li>
        <li>GitHub integration</li>
        <li>...</li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="hide()">Alright!</button>
</div>
