<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>About</h3>
</div>
<div class="modal-body">
    CodeCollab is developed and maintained by
    the <a href="http://www.angularjs.de" target="_blank">AngularJS.de</a> team:
    <ul>
        <li><a href="https://twitter.com/justphilmusic" target="_blank">Philipp Tarasiewicz</a></li>
        <li><a href="https://twitter.com/roobijn" target="_blank">Robin Böhm</a></li>
        <li><a href="https://twitter.com/sascha_brink" target="_blank">Sascha Brink</a></li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="hide()">Alright!</button>
</div>
