<div id="main-content">
    <div id="left">
        <ace editor-id="sessionEditor"
             theme="{{aceTheme}}"
             mode="{{aceMode}}"
             init-code="aceInitCode"
             on-change="onAceEditorChange(action, text, lines, startRow, startColumn, endRow, endColumn)"
             on-change-cursor="onAceEditorChangeCursor(action, row, column)"
             on-change-selection="onAceEditorChangeSelection(action, startRow, startColumn, endRow, endColumn)">
        </ace>
    </div>
    <div id="right">
        <div id="right-content">
            <!--
                Only show if user is presenter or non-presenter has joined
            -->
            <div id="have-fun-panel" class="start-form-overlay align-center" ng-show="showHaveFun">
                <h1>Have fun with CodeCollab!</h1>
            </div>

            <!--
                Only show if user is presenter or non-presenter has joined
            -->
            <div id="collaborators-panel" class="start-form-overlay clearfix" ng-show="showCollaborators">
                <div class="collaborators-container">
                    <collaborators collaborators="session.collaborators"></collaborators>
                </div>
                <div class="collaborator-count" ng-bind="session.collaborators.length"></div>
            </div>

            <!--
                Only show if user is presenter or non-presenter has joined
            -->
            <div id="stream-panel" class="start-form-overlay" ng-show="showCollaborators">
                <stream stream="session.stream" presenter-name="userName"></stream>
            </div>

            <div id="chat-form-panel" class="start-form-overlay" ng-show="showCollaborators">
                <form id="chat-form" name="chatForm" ng-submit="sendChatMessage()" novalidate>
                    <input type="text"
                           id="chat-message-input"
                           name="chatMessage"
                           ng-model="chatMessage"
                           placeholder="Enter a message..." required>
                </form>
            </div>

            <!--
                Only show if user is non-presenter
            -->
            <div class="start-form-overlay align-center" ng-show="showJoinForm">
                <h1>Join a collaboration session!</h1>

                <form name="joinCodeCollabForm" novalidate>
                    <input type="text" name="userName" ng-model="userName" placeholder="Your Name..." required>
                    <div class="submit-area">
                        <button class="btn btn-large btn-primary"
                                type="button"
                                ng-click="joinCodeCollab()">Join CodeCollab!</button>
                    </div>
                    <div class="error-area"
                         ng-show="joinCodeCollabForm.userName.$dirty && joinCodeCollabForm.userName.$invalid">
                        {{errorReason}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>